# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/
venv/

#note 
note.md
# Environment
.env
backend/.env
frontend/.env

# Build
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/

# Docker
*.log
